@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    background-color: azure;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

#wrap {
    width: 75%;
    margin: 0 auto;
    background-color: #fff;
}

header img {
    width: 100%;
}

#fall header {
    background-color: orange;

}

#summer header {
    background-color: orangered;

}

#winter header {
    background-color: lightskyblue;
}

#spring header {
    background-color: green;
}

#index header {
    background-color: black;
}

nav {
    background-color: #0b3d91;
    padding: 20px;
    text-align: center;
}

nav a {
    color: white;
    padding: 20px 30px;
    text-decoration: none;
    font-size: 120%;
}


nav li {
    display: inline;

}

nav a:hover {
    background-color: cadetblue;
    color: azure;
}


nav ul {
    margin: 0;
    padding: 0;
}

section {
    padding: 1% 4%;
    overflow: auto;
}

section h1,
section h2 {
    color: #0b3d91;
    font-size: 180%
}

#spring nav,
#spring footer {
    background-color: green;
}

#summer nav,
#summer footer {
    background-color: orangered;
}

#fall nav,
#fall footer {
    background-color: orange;
}

#winter nav,
#winter footer {
    background-color: lightskyblue;
}

#index nav,
#index footer {
    background-color: black;
}

section h2 {
    color: #ec3d0f;
    font-size: 140%
}

footer {
    background-color: #0b3d91;
    color: white;
    padding: 15px;
    text-align: center;
}

.side {
    width: 30%;
    float: right;
}
